
/* Arca Majora 3 @font-face */
@font-face {
    font-family: 'arcaMajora3Heavy';
    src: url('../fonts/arcamajora3-heavy-webfont.woff2') format('woff2'),
         url('../fonts/arcamajora3-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}